@charset "UTF-8";
/*!
 * COMFORTAA.CSS v1.0.0 (https://sorafonts.eu.org)
 * Copyright 2014-2024 Light Of The Night Sky (https://lotns.eu.org)
 * Licensed under MIT (https://soralicense.eu.org)
 */
@font-face {
	font-family: "Comfortaa";
	src: url("/s/comfortaa/comfortaa-v45-cyrillic_cyrillic-ext_greek_latin_latin-ext_vietnamese-300.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Comfortaa";
	src: url("/s/comfortaa/comfortaa-v45-cyrillic_cyrillic-ext_greek_latin_latin-ext_vietnamese-500.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Comfortaa";
	src: url("/s/comfortaa/comfortaa-v45-cyrillic_cyrillic-ext_greek_latin_latin-ext_vietnamese-600.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Comfortaa";
	src: url("/s/comfortaa/comfortaa-v45-cyrillic_cyrillic-ext_greek_latin_latin-ext_vietnamese-700.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Comfortaa";
	src: url("/s/comfortaa/comfortaa-v45-cyrillic_cyrillic-ext_greek_latin_latin-ext_vietnamese-regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
