@charset "UTF-8";
/*!
 * JOSEFINSLAB.CSS v1.0.0 (https://sorafonts.eu.org)
 * Copyright 2014-2024 Light Of The Night Sky (https://lotns.eu.org)
 * Licensed under MIT (https://soralicense.eu.org)
 */
@font-face {
	font-family: "Josefin Slab";
	src: url("/s/josefinslab/josefin-slab-v26-latin-100.woff2") format("woff2");
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Josefin Slab";
	src: url("/s/josefinslab/josefin-slab-v26-latin-100italic.woff2") format("woff2");
	font-weight: 100;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: "Josefin Slab";
	src: url("/s/josefinslab/josefin-slab-v26-latin-200.woff2") format("woff2");
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Josefin Slab";
	src: url("/s/josefinslab/josefin-slab-v26-latin-200italic.woff2") format("woff2");
	font-weight: 200;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: "Josefin Slab";
	src: url("/s/josefinslab/josefin-slab-v26-latin-300.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Josefin Slab";
	src: url("/s/josefinslab/josefin-slab-v26-latin-300italic.woff2") format("woff2");
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: "Josefin Slab";
	src: url("/s/josefinslab/josefin-slab-v26-latin-500.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Josefin Slab";
	src: url("/s/josefinslab/josefin-slab-v26-latin-500italic.woff2") format("woff2");
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: "Josefin Slab";
	src: url("/s/josefinslab/josefin-slab-v26-latin-600.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Josefin Slab";
	src: url("/s/josefinslab/josefin-slab-v26-latin-600italic.woff2") format("woff2");
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: "Josefin Slab";
	src: url("/s/josefinslab/josefin-slab-v26-latin-700.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Josefin Slab";
	src: url("/s/josefinslab/josefin-slab-v26-latin-700italic.woff2") format("woff2");
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: "Josefin Slab";
	src: url("/s/josefinslab/josefin-slab-v26-latin-italic.woff2") format("woff2");
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: "Josefin Slab";
	src: url("/s/josefinslab/josefin-slab-v26-latin-regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
