@charset "UTF-8";
/*!
 * LIBREBARCODE128TEXT.CSS v1.0.0 (https://sorafonts.eu.org)
 * Copyright 2014-2024 Light Of The Night Sky (https://lotns.eu.org)
 * Licensed under MIT (https://soralicense.eu.org)
 */
@font-face {
	font-family: "Libre Barcode 128 Text";
	src: url("/s/librebarcode128text/libre-barcode-128-text-v28-latin-regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
