@charset "UTF-8";
/*!
 * MUSEOMODERNO.CSS v1.0.0 (https://sorafonts.eu.org)
 * Copyright 2014-2024 Light Of The Night Sky (https://lotns.eu.org)
 * Licensed under MIT (https://soralicense.eu.org)
 */
@font-face {
	font-family: "MuseoModerno";
	src: url("/s/museomoderno/museomoderno-v27-latin_latin-ext_vietnamese-100.woff2") format("woff2");
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "MuseoModerno";
	src: url("/s/museomoderno/museomoderno-v27-latin_latin-ext_vietnamese-100italic.woff2") format("woff2");
	font-weight: 100;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: "MuseoModerno";
	src: url("/s/museomoderno/museomoderno-v27-latin_latin-ext_vietnamese-200.woff2") format("woff2");
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "MuseoModerno";
	src: url("/s/museomoderno/museomoderno-v27-latin_latin-ext_vietnamese-200italic.woff2") format("woff2");
	font-weight: 200;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: "MuseoModerno";
	src: url("/s/museomoderno/museomoderno-v27-latin_latin-ext_vietnamese-300.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "MuseoModerno";
	src: url("/s/museomoderno/museomoderno-v27-latin_latin-ext_vietnamese-300italic.woff2") format("woff2");
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: "MuseoModerno";
	src: url("/s/museomoderno/museomoderno-v27-latin_latin-ext_vietnamese-500.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "MuseoModerno";
	src: url("/s/museomoderno/museomoderno-v27-latin_latin-ext_vietnamese-500italic.woff2") format("woff2");
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: "MuseoModerno";
	src: url("/s/museomoderno/museomoderno-v27-latin_latin-ext_vietnamese-600.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "MuseoModerno";
	src: url("/s/museomoderno/museomoderno-v27-latin_latin-ext_vietnamese-600italic.woff2") format("woff2");
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: "MuseoModerno";
	src: url("/s/museomoderno/museomoderno-v27-latin_latin-ext_vietnamese-700.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "MuseoModerno";
	src: url("/s/museomoderno/museomoderno-v27-latin_latin-ext_vietnamese-700italic.woff2") format("woff2");
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: "MuseoModerno";
	src: url("/s/museomoderno/museomoderno-v27-latin_latin-ext_vietnamese-800.woff2") format("woff2");
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "MuseoModerno";
	src: url("/s/museomoderno/museomoderno-v27-latin_latin-ext_vietnamese-800italic.woff2") format("woff2");
	font-weight: 800;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: "MuseoModerno";
	src: url("/s/museomoderno/museomoderno-v27-latin_latin-ext_vietnamese-900.woff2") format("woff2");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "MuseoModerno";
	src: url("/s/museomoderno/museomoderno-v27-latin_latin-ext_vietnamese-900italic.woff2") format("woff2");
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: "MuseoModerno";
	src: url("/s/museomoderno/museomoderno-v27-latin_latin-ext_vietnamese-italic.woff2") format("woff2");
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: "MuseoModerno";
	src: url("/s/museomoderno/museomoderno-v27-latin_latin-ext_vietnamese-regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
