@charset "UTF-8";
/*!
 * ROBOTOFLEX.CSS v1.0.0 (https://sorafonts.eu.org)
 * Copyright 2014-2024 Light Of The Night Sky (https://lotns.eu.org)
 * Licensed under MIT (https://soralicense.eu.org)
 */
@font-face {
	font-family: "Roboto Flex";
	src: url("/s/robotoflex/roboto-flex-v26-cyrillic_cyrillic-ext_greek_latin_latin-ext_vietnamese-regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
