@charset "UTF-8";
/*!
 * RUBIKBURNED.CSS v1.0.0 (https://sorafonts.eu.org)
 * Copyright 2014-2024 Light Of The Night Sky (https://lotns.eu.org)
 * Licensed under MIT (https://soralicense.eu.org)
 */
@font-face {
	font-family: "Rubik Burned";
	src: url("/s/rubikburned/rubik-burned-v1-cyrillic_cyrillic-ext_latin_latin-ext-regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
