@charset "UTF-8";
/*!
 * SULPHURPOINT.CSS v1.0.0 (https://sorafonts.eu.org)
 * Copyright 2014-2024 Light Of The Night Sky (https://lotns.eu.org)
 * Licensed under MIT (https://soralicense.eu.org)
 */
@font-face {
	font-family: "Sulphur Point";
	src: url("/s/sulphurpoint/sulphur-point-v15-latin_latin-ext-300.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Sulphur Point";
	src: url("/s/sulphurpoint/sulphur-point-v15-latin_latin-ext-700.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Sulphur Point";
	src: url("/s/sulphurpoint/sulphur-point-v15-latin_latin-ext-regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
