@charset "UTF-8";
/*!
 * UBUNTU.CSS v1.0.0 (https://sorafonts.eu.org)
 * Copyright 2014-2024 Light Of The Night Sky (https://lotns.eu.org)
 * Licensed under MIT (https://soralicense.eu.org)
 */
@font-face {
	font-family: "Ubuntu";
	src: url("/s/ubuntu/ubuntu-v20-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext-300.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Ubuntu";
	src: url("/s/ubuntu/ubuntu-v20-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext-300italic.woff2") format("woff2");
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: "Ubuntu";
	src: url("/s/ubuntu/ubuntu-v20-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext-500.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Ubuntu";
	src: url("/s/ubuntu/ubuntu-v20-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext-500italic.woff2") format("woff2");
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: "Ubuntu";
	src: url("/s/ubuntu/ubuntu-v20-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext-700.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Ubuntu";
	src: url("/s/ubuntu/ubuntu-v20-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext-700italic.woff2") format("woff2");
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: "Ubuntu";
	src: url("/s/ubuntu/ubuntu-v20-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext-italic.woff2") format("woff2");
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: "Ubuntu";
	src: url("/s/ubuntu/ubuntu-v20-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext-regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
