@charset "UTF-8";
/*!
 * FONTS.CSS v1.0.0 (https://sorafonts.eu.org)
 * Copyright 2014-2024 Light Of The Night Sky (https://lotns.eu.org)
 * Licensed under MIT (https://soralicense.eu.org)
 */
body * {
	font-family: UnOrdinary;
}
article * {
	font-family: "UnOrdinary Text";
}
code,
kbd,
pre,
samp,
pre code * {
	font-family: "UnOrdinary Mono";
}
.index-code * {
	font-family: Audiowide, Comfortaa, "DM Mono", "Grape Nuts", "Hepta Slab", "Josefin Slab", Jost, "Kumbh Sans", Lexend, "Libre Barcode 128 Text", Monoton, Montserrat, "Montserrat Alternates", MuseoModerno, "Noto Sans", "Noto Sans Display", "Noto Sans Mono", "Noto Sans Symbols", "Noto Serif", "Noto Serif Display", "Open Sans", Outfit, Poppins, Quicksand, Raleway, "Readex Pro", "Red Hat Display", "Red Hat Mono", "Red Hat Text", Roboto, "Roboto Condensed", "Roboto Flex", "Roboto Mono", "Roboto Slab", "Rubik Burned", Sacramento, Satisfy, Sen, Sevillana, Sora, "Sulphur Point", Ubuntu, "Work Sans";
}
/*!
 * REDHATDISPLAY.CSS v1.0.0 (https://sorafonts.eu.org)
 * Copyright 2014-2024 Light Of The Night Sky (https://lotns.eu.org)
 * Licensed under MIT (https://soralicense.eu.org)
 */
@font-face {
	font-family: "UnOrdinary";
	src: url("/s/redhatdisplay/red-hat-display-v19-latin_latin-ext-300.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "UnOrdinary";
	src: url("/s/redhatdisplay/red-hat-display-v19-latin_latin-ext-300italic.woff2") format("woff2");
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: "UnOrdinary";
	src: url("/s/redhatdisplay/red-hat-display-v19-latin_latin-ext-500.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "UnOrdinary";
	src: url("/s/redhatdisplay/red-hat-display-v19-latin_latin-ext-500italic.woff2") format("woff2");
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: "UnOrdinary";
	src: url("/s/redhatdisplay/red-hat-display-v19-latin_latin-ext-600.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "UnOrdinary";
	src: url("/s/redhatdisplay/red-hat-display-v19-latin_latin-ext-600italic.woff2") format("woff2");
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: "UnOrdinary";
	src: url("/s/redhatdisplay/red-hat-display-v19-latin_latin-ext-700.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "UnOrdinary";
	src: url("/s/redhatdisplay/red-hat-display-v19-latin_latin-ext-700italic.woff2") format("woff2");
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: "UnOrdinary";
	src: url("/s/redhatdisplay/red-hat-display-v19-latin_latin-ext-800.woff2") format("woff2");
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "UnOrdinary";
	src: url("/s/redhatdisplay/red-hat-display-v19-latin_latin-ext-800italic.woff2") format("woff2");
	font-weight: 800;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: "UnOrdinary";
	src: url("/s/redhatdisplay/red-hat-display-v19-latin_latin-ext-900.woff2") format("woff2");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "UnOrdinary";
	src: url("/s/redhatdisplay/red-hat-display-v19-latin_latin-ext-900italic.woff2") format("woff2");
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: "UnOrdinary";
	src: url("/s/redhatdisplay/red-hat-display-v19-latin_latin-ext-italic.woff2") format("woff2");
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: "UnOrdinary";
	src: url("/s/redhatdisplay/red-hat-display-v19-latin_latin-ext-regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
/*!
 * REDHATMONO.CSS v1.0.0 (https://sorafonts.eu.org)
 * Copyright 2014-2024 Light Of The Night Sky (https://lotns.eu.org)
 * Licensed under MIT (https://soralicense.eu.org)
 */
@font-face {
	font-family: "UnOrdinary Mono";
	src: url("/s/redhatmono/red-hat-mono-v11-latin_latin-ext-300.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "UnOrdinary Mono";
	src: url("/s/redhatmono/red-hat-mono-v11-latin_latin-ext-300italic.woff2") format("woff2");
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: "UnOrdinary Mono";
	src: url("/s/redhatmono/red-hat-mono-v11-latin_latin-ext-500.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "UnOrdinary Mono";
	src: url("/s/redhatmono/red-hat-mono-v11-latin_latin-ext-500italic.woff2") format("woff2");
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: "UnOrdinary Mono";
	src: url("/s/redhatmono/red-hat-mono-v11-latin_latin-ext-600.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "UnOrdinary Mono";
	src: url("/s/redhatmono/red-hat-mono-v11-latin_latin-ext-600italic.woff2") format("woff2");
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: "UnOrdinary Mono";
	src: url("/s/redhatmono/red-hat-mono-v11-latin_latin-ext-700.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "UnOrdinary Mono";
	src: url("/s/redhatmono/red-hat-mono-v11-latin_latin-ext-700italic.woff2") format("woff2");
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: "UnOrdinary Mono";
	src: url("/s/redhatmono/red-hat-mono-v11-latin_latin-ext-italic.woff2") format("woff2");
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: "UnOrdinary Mono";
	src: url("/s/redhatmono/red-hat-mono-v11-latin_latin-ext-regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
/*!
 * REDHATTEXT.CSS v1.0.0 (https://sorafonts.eu.org)
 * Copyright 2014-2024 Light Of The Night Sky (https://lotns.eu.org)
 * Licensed under MIT (https://soralicense.eu.org)
 */
@font-face {
	font-family: "UnOrdinary Text";
	src: url("/s/redhattext/red-hat-text-v14-latin_latin-ext-300.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "UnOrdinary Text";
	src: url("/s/redhattext/red-hat-text-v14-latin_latin-ext-300italic.woff2") format("woff2");
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: "UnOrdinary Text";
	src: url("/s/redhattext/red-hat-text-v14-latin_latin-ext-500.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "UnOrdinary Text";
	src: url("/s/redhattext/red-hat-text-v14-latin_latin-ext-500italic.woff2") format("woff2");
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: "UnOrdinary Text";
	src: url("/s/redhattext/red-hat-text-v14-latin_latin-ext-600.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "UnOrdinary Text";
	src: url("/s/redhattext/red-hat-text-v14-latin_latin-ext-600italic.woff2") format("woff2");
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: "UnOrdinary Text";
	src: url("/s/redhattext/red-hat-text-v14-latin_latin-ext-700.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "UnOrdinary Text";
	src: url("/s/redhattext/red-hat-text-v14-latin_latin-ext-700italic.woff2") format("woff2");
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: "UnOrdinary Text";
	src: url("/s/redhattext/red-hat-text-v14-latin_latin-ext-italic.woff2") format("woff2");
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: "UnOrdinary Text";
	src: url("/s/redhattext/red-hat-text-v14-latin_latin-ext-regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
